h1 { font-size: 6em }
h2 { font-size: 3em }
h3 { font-size: 2em }

h1, h2, h3, h4 {
  font-family: 'Patua One', cursive;
}

article {
  font-family: 'Roboto', sans-serif;
}

.centered {
  margin: 0 auto;
}

p { font-size: 18px }
